.main {
    width: 100%;
    margin: auto;
  }

  .row {
   width:100%;
   margin-left:100px;
    display:flex;
    justify-content: center;
    display: grid;
    grid-template-columns:350px 350px 350px 350px;

  }

  /* Add padding BETWEEN each column */
  .row,
  .row > .column {
    padding: 8px;
  }

  /* Create three equal columns that floats next to each other */
  .column {


    display: none; /* Hide all elements by default */
  }

  /* Clear floats after rows */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Content */
  .content {
    background-color: white;
    padding: 10px;
  }

  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }

  /* Style the buttons */
  .imgfilter {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
  }

  .imgfilter:hover {
    background-color: #ddd;
  }

  .imgfilter.active {
    background-color: #666;
    color: white;
  }



