{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>about</title>
    <link rel="stylesheet" href="{% static 'css/mains.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="D:\WEBSITE PROJECT\second_website_javascript.js"></script>
</head>
<body>
     <div class="menu">
        <ul class="menulist">
        <li><a href="home">Home</a></li>
        <li><a href="about" >About</a></li>
        <li><a href="home">Product</a></li>
        <li><a href="contact">Contact</a></li>

        </ul>
        <img src="{% static 'images/new-logo.png' %}">
         <h1>GVM EXPORTS</h1>
    </div>

    <div class="aboutgvm">
        <img src="{% static 'images/table.jpg'  %}">

    </div>
    <div class="gvm">
        <h1> About GVM</h1>
        <div class="border">

        </div>
        <div class="gvmcontent">
            <p>Mr.GANGESAN brings with him 23 years of experience of successfully establishing and running an Banana leaf business.
                His emphasis on local sourcing has provided a platform to marginal farmers to sell their produce at profitable rates.
            </p>
        </div>
    </div>

     <div class="twoimage">
        <div class="over">
           <img src="{% static 'images/ser.jpeg'  %}">
            <h1>Marriage Hall</h1>
        </div>
        <div class="over">
            <img src="{% static 'images/hotel.avif'  %}">
            <h1>Hotel / Restaurants</h1>
        </div>
        <div class="over">
            <img src="{% static 'images/m1.jfif'  %}">
            <h1> Seasonal Events</h1>
        </div>

    </div>
    <div class="bottom" id="about">
        <div class="intro">
            <h3>GVM BANANA LEAF EXPORT SERVICE</h3>
            When it comes to fresh leaf, <br>
            banana tree, banana fruite & flower,<BR>
            we are the preferred choice.<BR>
            At Leafs & fruits,<BR>
            we carefully source our wide range<BR>
            of farm-fresh produce from our farms,<BR>
            from select growers and markets daily.
        </div>
        <div class="address">
            <h3 >CONTACT</h3>

            KATTUCETTIPATTI,<BR>
            RAYAKOTTAI TO DHARMAPURI(rode),<BR>
            DHARMAPURI 635116.<BR>
            TAMILNADU.
        </div>
        <div class="focus">
            <h3>FOCUS LINKS</h3>
            <li><a href="home">Home</a></li>
            <li><a href="about">About</a></li>
             <li><a href="home">Product</a></li>
            <li><a href="contact">Contact</a></li>

            <div class="socialicon">
              <i class="fa fa-twitter-square" aria-hidden="true" title="TWITTER"></i>

            <a href="http://www.facebook.com/vigneshgvm.vigneshgvm"> <i class="fa fa-facebook-square" aria-hidden="true" title="FACEBOOK"></i></a>
             <a href="https://www.instagram.com/tv/ChMINsAOTYu/?utm_source=ig_web_copy_link"><i class="fa fa-instagram" aria-hidden="true" title="INSTAGRAM"></i></a>

            </div>

        </div>

    </div>
   </body>
   </html>